.git
.gitignore
.env
.venv
__pycache__
*.pyc
*.pyo
*.egg-info
birdle/lib/
birdle/bin/
birdle/include/
birdle/pyvenv.cfg
staticfiles/
*.log
.DS_Store
early_demo.gif
LICENSE
README.md
Procfile
historical-db/
birdledb.dump
